<div id="category-list">
    <template v-for="category in categories">
    <table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td><template v-if="category.logo"><img v-bind:src="'/store/img/' + category.logo"></template></td>
        <td width="100%">
          <div class="categoryName">{{ category.name }}</div>
          <div class="subcategoryName">
          <template v-for="(product, index) in category.ProductList">
            <template v-if="index != 0"> | </template>
            <a href="/" v-bind:title="product.descn" @click.prevent="lealone.route('home', 'item-list', [product.productid], 'getAllProductItems')">
              {{ product.name }}
            </a>
          </template>
          </div>
        </td>
      </tr>
    </table>
    </template>
</div>
