<div id="login">
<form action="/" method="post">
  <table border="0" cellpadding="0" cellspacing="10" width="100%" class="box">
    <tr align="center">
      <td><strong>用户登录</strong><br />
        <hr/>
        <div class="errorMessage">{{ errorMessage }}</div>
      </td>
    </tr>
    <tr align="center">
      <td><table border="0" cellpadding="0" cellspacing="10" width="10">
        <tr>
          <td nowrap="nowrap">用户名：</td>
          <td width="100%">
            <input type="text" v-model="userId"/>
          </td>
          <td class="errorMessage"></td>
        </tr>
        <tr>
          <td nowrap="nowrap">密码： </td>
          <td>
            <input type="password" v-model="password"/>
          </td>
          <td class="errorMessage"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><hr/></td>
    </tr>
    <tr align="center">
      <td><table border="0" cellpadding="0" cellspacing="10" width="10">
        <tr>
          <td width="100%">
            <input type="image" src="/home/img/btn_login.png" v-on:click.prevent="login"/>
          </td>
          <td nowrap>
            <a href="/" @click.prevent="lealone.route('user', 'register')">还没有注册过吗？<br>赶快注册！</a>
          </td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
</div>
